@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  color: rgb(11, 203, 69);
  background-color: transparent;
  text-decoration: underline;
  
}

.bg-btn{
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
}


